<%- include('../partials/head') %>
<div class="container">

    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">
        <label for="">First Name: </label>
        <input type="text" name="firstName">
        <label for="">Last Name: </label>
        <input type="text" name="lastName">
        <label for="">Phone Number: </label>
        <input type="text" name="phoneNumber">
        <label for="">Username: </label>
        <input type="text" name="username">
        <label for="">Password: </label>
        <input type="password" name="password">
        <label for="">Confirm Password: </label>
        <input type="password" name="confirmPassword">
        <button type="submit" class="btn btn-primary">Sign up</button>
        <p><%= msg %></p>
    </form>
</div>

<%- include('../partials/footer') %>