body {
    background-color: rgb(56, 54, 54);
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
}

body h1{
    margin: 40px; 
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

form button {
    margin-top: 10px;
}

.inputs{
  display: flex;
  justify-content: center;
}

.index{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#my-list{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}



#show{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 355px;
} 

.buttons{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.btn-primary{
    margin-right: 60px;
    height: 38px;
    margin-top: 9px;
}

.card-img-top{
    
    height: 410px;
    width: 50%;
}