<%- include('../partials/head') %>

<h1>Add to List</h1>

<div class="inputs">
    <form action="/users/cars" action="/users/<%= user._id %>/public" method="POST">
        <label for="">Make: </label>
        <input type="text" name="make">
        <label for="">Model: </label>
        <input type="text" name="model">
        <label for="">Year: </label>
        <input type="text" name="year">
        <label for="">Price: </label>
        <input type="number" name="price">
        <label for="">Description: </label>
        <textarea name="description"></textarea>
        <label for="">Engine: </label>
        <input type="number" name="engine">
        <label for="">Image: </label>
        <input type="text" name="img">
        <button type="submit" class="btn btn-primary">Add List</button>
    </form>    
</div>
<%- include('../partials/footer') %>